@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #f1f0f5;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

:root {
  --light_gray: #f7f7f7;
  --light_pink: #f6e9f0;
}

.outer {
  min-height: 100vh;
}

.sidebar {
  background-color: var(--light_gray);
  border-radius: 4rem;
  box-shadow: 0px 3px 35px -17px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 3px 35px -17px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 35px -17px rgba(0, 0, 0, 0.25);
}

.sidebar-header {
  height: 43px;
}

hr {
  background-color: #d6d6d6;
  height: 2px !important;
}

.searchbar {
  background-color: #edeef5;
}

input[type="text"] {
  border: none;
  background-color: #edeef5;
  width: 100%;
}

::placeholder {
  color: #9a9ba4;
  font-size: 0.9rem;
}

input[type="text"]:focus {
  outline: none;
}

.selected-credit-card {
  background-color: var(--light_pink);
}

.credit-card {
  transition: background 100ms;
  border-radius: 0.8rem;

}

.credit-card:hover {
  background-color: var(--light_pink);
}

.practice-card {
  padding: 0.7em 0 0.7em 1.3em;
  font-size: 0.7em;
  color: white;
  max-width: 11ch;
  border-radius: 0.6rem 0 0 0.6em;
}

.practice-card-1 {
  background-color: #f4a8ad;
}

.practice-card-2 {
  background-color: #4c56e9;
}

.practice-card-tail {
  background-color: #553b4b;
  width: 0.8em;
  border-radius: 0 0.6em 0.6em 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.services {
  font-size: 0.8rem;
  background-color: white;
  transition: background 100ms;
}

.services:hover {
  background-color: var(--light_pink);
}

.selected-service {
  background-color: var(--light_pink);
}

.stock-picture {
  background-color: #4c56e9;
  color: white;
  min-width: 5vh;
  border-radius: 0.6rem;
  z-index: 10;
}

.sell::before {
  content: "S";
  background-color: #54626e;
  color: white;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.7rem 1rem;
  position: relative;
  top: -0.7rem;
  float: left;
}

.sell {
  padding: 0.7rem 0.7rem 0.7rem 0;
  background-color: #e7e5ed;
  border-radius: 0.5rem;
  text-align: end;
  height: 100%;
}

.buy::before {
  content: "B";
  background-color: #54626e;
  color: white;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.7rem 1rem;
  position: relative;
  top: -0.7rem;
  float: left;
}

.buy {
  padding: 0.7rem 0.7rem 0.7rem 0;
  background-color: #e7e5ed;
  border-radius: 0.5rem;
  text-align: end;
}

tr {
  border-radius: 3rem;
  transition: background 100ms;
}

tr:hover {
  background-color: white;
}

.vol-align {
  line-height: 290%;
}
